<template name="addURL">
    <div id="website_form" class="hidden_div">
        <form class="js-save-website-form">
            <div class="form-group">
                <label for="url">Site address</label>
                <input type="text" class="form-control" id="url" placeholder="http://www.mysite.com">
                <div id="invalid-url">URL has wrong format</div>
                <div id="url-already-exist">URL is already in list!</div>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Mysite">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="I found it really useful for...">
                <div id="invalid-description">You have to place a pair words here</div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</template>