<!-- template that displays individual website entries -->
<template name="websiteItem">
    <li id="website-item">
        <div class="row">
            <div class="col-md-6">
                <a id="website-url" href="{{url}}" target="_blank">{{#if title}}{{title}}{{else}}{{url}}{{/if}}</a>
                <p>  {{description}} <a href="/websites/{{_id}}">More...</a>  </p>

            </div>
            <div class="col-md-2">
                <div class="col-md-1">
                    <a href="#" class="btn btn-default js-upvote">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <a href="#" class="btn btn-default js-downvote">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <p>rating: {{rating}}</p>
                <p>added: {{date}}</p>
            </div>
        </div>
    </li>
</template>
