<!-- template that displays individual website entries -->
<template name="websiteItem">
    <li id="website-item">
        <div class="row">
            <div class="col-md-6">
                <a href="{{url}}">{{#if title}}{{title}}{{else}}{{url}}{{/if}}</a>
                <p>  {{description}}  </p>
            </div>
            <div class="col-md-1">
                <a href="#" class="btn btn-default js-upvote">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-1">
                <a href="#" class="btn btn-default js-downvote">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </li>
</template>
