<!-- template that displays individual website entries -->
<template name="websiteItem">
    <li>
        <a href="{{url}}">{{title}}</a>
        <p>  {{description}}  </p>
        <a href="#" class="btn btn-default js-upvote">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </a>
        <a href="#" class="btn btn-default js-downvote">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </a>
        <!-- you will be putting your up and down vote buttons in here! -->
    </li>
</template>
